# .env
TZ=UTC
COMPOSE_PROJECT_NAME=fintech-app
NETWORK_NAME=fintech-network

# Gateway
GATEWAY_PORT_HTTP=80
GATEWAY_PORT_HTTPS=443

# POSTGRES DATABASE
POSTGRES_USER=pqgotest
POSTGRES_PASSWORD=password
POSTGRES_DB=fintech

# AUTH SERVICE
AUTH_DATABASE_URL=postgres://pqgotest:password@db:5432/pqgotest?sslmode=disable
AUTH_PORT=5001
JWTSTRING=alsjhfkahflkneufhihefaeihfhaukefhlaf.h
# (available mode: debug release test)
AUTH_GIN_MODE=debug
