# .env
TZ=UTC
COMPOSE_PROJECT_NAME=fintech-app
NETWORK_NAME=fintech-network

# Gateway
GATEWAY_PORT_HTTP=80
GATEWAY_PORT_HTTPS=443

# Services
AUTH_PORT=5001
NOTIFICATION_PORT=5002
RECEIPT_SCRAPER_PORT=5003
REGEX_PORT=5004
SMS_PARSER_PORT=5005
SYNC_PORT=5006
