# services/gateway/nginx.conf.template
events {
    worker_connections  1024;
}

http {
    upstream auth {
        server auth:5001;
    }

    # upstream notification {
    #     server notification:;
    # }
    #
    # upstream receipt-scraper {
    #     server receipt-scraper:;
    # }
    #
    # upstream regex {
    #     server regex:;
    # }
    #
    # upstream sms-parser {
    #     server sms-parser:;
    # }
    #
    # upstream sync {
    #     server sync:;
    # }
    #
    server {
        listen 80;
        server_name localhost;

        location /auth/ {
            proxy_pass http://auth;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location /swagger/ {
            alias /usr/share/nginx/html/swagger/;
            index index.html;
            try_files $uri $uri/ =404;

            types {
              text/html html;
              text/css css;
              application/javascript js;
              application/json json;
              image/png png;
            }
        }
        # location /notification/ {
        #     proxy_pass http://notification;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        # }
        #
        # location /receipt-scraper/ {
        #     proxy_pass http://receipt-scraper;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        # }
        #
        # location /regex/ {
        #     proxy_pass http://regex;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        # }
        #
        # location /sms-parser/ {
        #     proxy_pass http://sms-parser;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        # }
        #
        # location /sync/ {
        #     proxy_pass http://sync;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        # }
    }
}
